<?xml version="1.0"?>
<!--
/**
 * @author Atwix
 * @copyright Copyright (c) 2018 Atwix (https://www.atwix.com/)
 * @package Atwix_OpcacheManagement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Atwix\OpcacheManagement\Lib\OpcacheLibInterface"
                type="Atwix\OpcacheManagement\Lib\OpcacheLib" />
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="atwixResetOpcodeCliCacheCommand" xsi:type="object">Atwix\OpcacheManagement\Console\ResetOpcodeCliCacheCommand</item>
            </argument>
        </arguments>
    </type>
</config>
