<?xml version="1.0"?>
<!--
/**
 * @author Atwix
 * @copyright Copyright (c) 2018 Atwix (https://www.atwix.com/)
 * @package Atwix_OpcacheManagement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Atwix_OpcacheManagement::Opcache_management"
             title="Opcache Management"
             translate="title"
             module="Atwix_OpcacheManagement"
             sortOrder="30"
             parent="Magento_Backend::system_tools"
             action="atwix_opcache/management/index"
             resource="Atwix_OpcacheManagement::index" />
    </menu>
</config>
