<?xml version="1.0"?>
<!--
/**
 * @author Roman Glushko
 * @copyright Copyright (c) 2017 Roman Glushko (http://www.linkedin.com/in/glushko-roman/)
 * @package Glushko_OpcacheManagement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="glushko_Opcache" frontName="glushko_Opcache">
            <module name="Glushko_OpcacheManagement" before="Magento_Backend" />
        </route>
    </router>
</config>
