<?xml version="1.0"?>
<!--
/**
 * @author Atwix
 * @copyright Copyright (c) 2018 Atwix (https://www.atwix.com/)
 * @package Atwix_OpcacheManagement
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="atwix_opcache" frontName="atwix_opcache">
            <module name="Atwix_OpcacheManagement" before="Magento_Backend" />
        </route>
    </router>
</config>
